<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Show Tickets</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div align="center">	
	<br/><br/><br/><br/>
	
	<h1>Show All Tickets Developpeur</h1>
	
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Description</th>
				<th>Enviromenement</th>
				<th>Logiciel</th>	
				<th>Status</th>		
				<th>Urgence</th>
				<th>Client</th>	
				<th>Developpeur</th>	
			</tr>
		</thead>
		<tbody>
			<tr th:each="t : ${tickets}">
				<td th:text="${t.description}">Description</td>
				<td th:text="${t.environnement}">Enviromenement</td>
				<td th:text="${t.logiciel}">Logiciel</td>
				<td th:text="${t.statut}">Status</td>
				<td th:text="${t.urgence}">Urgence</td>
				<td th:text="${t.client}">Client</td>
				<td th:text="${t.developpeur}">Developpeur</td>
				<td> <a th:href="@{/updateStatut/{id}(id=${t.id})}" class="btn btn-primary"  style="width: 150px;border-block-color: mediumvioletred;background-color: mediumvioletred; color:white;" />Update</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>